frontend/node_modules/
frontend/.next/
frontend/storybook-static/
__pycache__/
*.pyc
.env*
driver-app/**/GoogleService-Info.plist
driver-app/node_modules/
driver-app/android/*
!driver-app/android/app/
driver-app/android/app/*
# Allow committing example config but ignore the real firebase config
!driver-app/android/app/google-services.json.example
driver-app/android/app/google-services.json
